



<nav class="navbar navbar-default">
    <div class="container-fluid ">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Remote PC control </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <p class="navbar-text navbar-right">{{webApiService.username}} (<a
                    [routerLink]="['/login']">logout</a>) </p>

            <p  *ngIf="webApiService.isAdmin()"  class="navbar-text navbar-right"><a [routerLink]="['/']">PC Control</a></p>


        </div>


    </div>

</nav>

<h1>Hello Admin</h1>



<select (change)="onChange($event)">
    <option *ngFor="let user of users" value="user[1]">{{user[0]}}</option>
</select>