



<nav class="navbar navbar-default">
    <div class="container-fluid ">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Remote PC control </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <p class="navbar-text navbar-right">{{webApiService.username}} (<a
                    [routerLink]="['/login']">logout</a>) </p>

            <p  *ngIf="webApiService.isAdmin()"  class="navbar-text navbar-right"><a [routerLink]="['/']">PC Control</a></p>


        </div>


    </div>

</nav>

<h1>Admin Zone</h1>


<div class="row">
    <div class="col-md-4">
        <h4>Users</h4>
        <ul style="list-style-type: none" >
            <li style="color: black" *ngFor="let user of users" (click)="selectUser(user)"  [class.selected]="user === selectedUser"> {{user[0]}}  </li>
        </ul>

    </div>
    <div class="col-md-8">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />



        <table  *ngIf="devices" class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>assigned</th>
            </tr>
            <tr *ngFor="let device of devices">
                <td>{{device.Id}}</td>
                <td>{{device.Name}}</td>
                <td class="text-center"><input  type="checkbox"   (change)="change($event, device)" [(ngModel)]="device.Mark"/> </td>
            </tr>

        </table>
    </div>
</div>












