
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File download</h4>
            </div>
            <div class="modal-body">
                Vami zvolený súúbor sa práve nahráva na server.
                (môže to chvíľu trvať v závisloti na veľkosti daného súboru)
                Hneď po tom sa otvorí okno s možnostou jeho uloženia.
                (toto okno môžete zavrieť)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<h3>File Explorer</h3>

<button *ngIf="!device.Records"type="button" class="btn btn-success" (click)="explore()">Explore device</button>
<file-upload [devices]="[device]" [toOpenFolder]="device.Records != null"></file-upload>

<table *ngIf="device.Records" class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Date</th>
        <th>Download</th>
    </tr>
    <tr *ngFor="let record of device.Records; let i = index" (dblclick)="open(i)">
        <td>{{record.Name}}</td>
        <td>{{getSize(record.Size)}}</td>
        <td>{{getDate(record.Date) | date:'shortDate'}}</td>
        <td class="text-center"><button *ngIf="record.Size > 0 && record.Name.indexOf(':\\') < 0 " type="button" class="btn btn-success btn-xs "    data-toggle="modal" data-target="#myModal"  (click)="dwn(record.Name)"> <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button></td>
    </tr>

</table>
